/* Global */
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFFEFC;
  color: #0C0908;
}

ul li a{
  color: #FFFEFC;
  line-height: 14px;
  text-decoration: none;
  margin: 0 12px;
}

ul li a:hover{
  text-decoration: underline;
}

.content{
  min-height: 100vh;
  padding: 20px;
}

input, label{
  display: block;
}

input{
  border: 1px solid;
  outline-color: #0C0908;
  border-radius: 5px;
}

label{
  font-size: 14px;
}

input:focus{
  border: 1px solid;
  outline-color: #DC143C;
  border-radius: 5px;
}

form{
  margin: 0 auto;
}

form div{
  margin: 7px auto;
}

form label{
  font-size: 14px;
}

br{
  clear: both;
}

.button-update{
  width: 100px;
  height: 40px;
  background-color: #FFFEFC;
  border: 2px solid #DC143C;
  color: #DC143C;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.button-delete{
  width: 100px;
  height: 40px;
  background-color: #0C0908;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

.button-library{
  width: 100px;
  height: 40px;
  background-color: #DC143C;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

/* Header */
header {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #DC143C;
  display: flex;
  justify-content: space-between;
}

header img{
  width: 120px;
  height: 80px;
  margin-left: 12px;
}

header ul{
  display: flex;
  list-style-type: none;
}

header ul li{
  margin: 0 12px;
}

header ul li a{
  text-transform: uppercase;
}

/* Search Bar*/
.search-bar{
  padding: 10px 20px;
}

.search-bar input{
  line-height: 64px;
  font-size: 46px;
  width: 100%;
}

/* Login & Register form */
.login-register-form{
  height: 100%;
}

.login-register-form h2{
  text-align: center;
  margin-top: 50px;
}

.login-register-form div{
  width: 256px;
  margin: 15px auto;
}

.login-register-form #link{
  text-align: center;
}

.login-register-form form input, label{
  display: block;
}

.login-register-form input{
  line-height: 46px;
  font-size: 28px;
  width: 250px;
}

.login-register-form button{
  width: 100%;
  height: 50px;
  background-color: #DC143C;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
}

/* Create Update Book */

.create-update-book h2{
  text-align: center;
  margin-top: 25px;
}

.create-update-book form .form-column{
  width: 508px;
  margin: 15px 15px;
  float: left;
}

.create-update-book p{
  margin: 0;
  font-size: 14px;
}

.create-update-book img{
  width: 340px;
  height: 480px;
  margin: 0 auto;
}

.create-update-book form #description{
  width: 1004px;
  margin: 15px 15px;
  display: block;
}

#description input{
  width: 1000px;
  height: 200px;
}

.create-update-book input{
  line-height: 46px;
  font-size: 28px;
  width: 500px;
}

/* Book Info*/
.book-info{
  padding: 12px 36px;
  display: flex;
}

.book-info img{
  width: 221px;
  height: 312px;
}

.book-info .row{
  display: flex;
}

.book-info .row h1{
  margin-left: 12px;
}

.book-info .row h2{
  margin-top: 29px;
  margin-bottom: 0;
  margin-left: 20px;
}

.book-info .row, h3, p{
  margin: 12px 12px;
}

/* Create Update Copy */
.popup{
  z-index: 1;
  border: 2px solid #DC143C;
  background-color: #FFFEFC;
  border-radius: 4px;
  width: 500px;
  height: 300px;
  padding: 15px;
}

.popup form{
  margin-top: 12px;
}

.popup form div:last-child{
  text-align: center;
}

.popup input{
  line-height: 46px;
  font-size: 28px;
  width: 494px;
}

#close-button{
  margin-bottom: 6px;
  background-color: #0C0908;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  float: right;
}

/* Footer */
footer{
  clear: both;
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: -200px;
  background-color: #0C0908;
}

footer ul{
  list-style-type: none;
  padding-top: 20px;
}

footer p{
  color: #FFFEFC;
  text-align: center;
  margin-top: 100px;
}
