/* Global */
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFFEFC;
  color: #0C0908;
}

h1, h2, h3, h4, h5{
  margin: 0 5px;
}

h2{
  padding-top: 8px;
}

ul{
  list-style: none;
}

ul li a{
  color: #FFFEFC;
  line-height: 14px;
  text-decoration: none;
  margin: 0 12px;
}

ul li a:hover{
  text-decoration: underline;
}

.content{
  min-height: 50vh;
  padding: 20px;
}

.content > div{
  padding: 12px;
}

.row{
  display: flex;
}

input, label, textarea{
  display: block;
}

textarea{
  resize: none;
}

input, textarea{
  line-height: 30px;
  font-size: 24px;
  border: 1px solid;
  outline-color: #0C0908;
}

label{
  font-size: 14px;
}

input:focus, textarea:focus{
  border: 1px solid;
  outline-color: #DC143C;
}

form{
  margin: 0 auto;
}

form div{
  margin: 7px auto;
}

form label{
  font-size: 14px;
}

br{
  clear: both;
}

button{
  margin: 2px;
  cursor: pointer;
}

.button-library{
  width: 100px;
  height: 40px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-library:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.button-edit{
  width: 40px;
  height: 40px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-edit:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.button-delete{
  width: 40px;
  height: 40px;
  background-color: #0C0908;
  border: 2px solid #0C0908;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-delete:hover{
  background-color: #FFFEFC;
  color: #0C0908;
}

.button-create{
  width: 60px;
  height: 60px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;

  font-size: 36px;
  border-radius: 50%;
}

.button-create:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.pagination-nav{
  text-align: center;
}

.pagination-nav ul{
  margin: auto;
  display: inline-flex;
  padding-left: 0;
}

.pagination-nav li{
 margin: 0 4px;
}

.pagination-nav li:hover{
  color: #DC143C;
  cursor: pointer;
  text-decoration: underline;
}

.pagination-nav li:first-child, .pagination-nav li:last-child{
  padding-top: 2px;
}

.no-data{
  width: 100%;
  height: 100px;
  padding: auto;
}

.no-data h1{
  text-align: center;
  margin: 31.5px auto;
}

/* Table */
table{
  width: 100%;
  margin: 0 7px;
  border-collapse: collapse;
  table-layout: fixed;
}

table h4{
  margin-left: 4px;
}

td{
  padding: 2px;
  height: 48px;
  width: auto;
}

thead{
  background-color: #A9A9A9;
}

tbody td{
  padding-left: 6px;
}

tbody tr:nth-child(even){
  background-color: #DCDCDC;
}



/* Header */
header {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #DC143C;
  display: flex;
  justify-content: space-between;
}

.logo a{
  margin-left: 12px;
  height: 50px;
  font-size: 50px;
  color: #FFFEFC;
  display: flex;
  text-decoration: none;
}

.logo div{
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  margin: 13px 2px 0;
}

header button{
  width: 40px;
  height: 40px;
  background-color: #DC143C;
  border: none;
  margin-top: 8px;
  margin-right: 12px;
  padding: 5px;
  
  color: #FFFEFC;
  font-size: 26px;
  display: none;
}

header ul{
  display: flex;
  text-transform: uppercase;
}

header ul li{
  margin: 0 12px;
}

/* Footer */
footer{
  clear: both;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #0C0908;
  display: flex;
}

footer .column{
  width: 50%;
  list-style-type: none;
  margin: 20px 0 20px;
  padding-left: 20px;
}

footer .column:first-child{
  border-right: 1px solid #DC143C;
}

footer .column:last-child{
  border-left: 1px solid #DC143C;
}

footer li{
  margin: 12px 0;
}

footer ul li a:hover{
  text-decoration-color: #DC143C;
}

footer .column p{
  margin: 0;
  padding-left: 17px;
  color: #FFFEFC;
}

/* Search Bar*/
.search-bar{
  display: flex;
  padding: 10px 0;
}

.search-bar:focus{
  background-color: #0C0908;
}

.search-bar input{
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  width: 90%;
  border: 2px solid #DCDCDC;
}



.search-bar button{
  border: 2px solid #DCDCDC;
  background-color: #DCDCDC;
  color: #FFFEFC;
  width: 10%;
  height: 46px;
  font-size: 30px;
  margin: 0;
}

.search-bar button:hover{
  background-color: #DC143C;
  border-color: #DC143C;
}

/* Login & Register form */
.login-register-form{
  height: 100%;
}

.login-register-form h2{
  text-align: center;
}

.login-register-form div{
  width: 300px;
  margin: 7px auto;
}

.login-register-form input{
  width: 294px;
}

.login-register-form button{
  width: 100%;
  height: 50px;
  background-color: #DC143C;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  margin: 7px auto;
}

.login-register-form button:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.login-register-form div:last-child{
  text-align: center;
}

.login-register-form a{
  color: #DC143C;
  text-decoration: none;
}

.login-register-form a:hover{
  text-decoration: underline;
}

/* Book Row */
.book-row{
  margin: 7px 0;
  height: 200px;
  width: 80%;
  display: flex;
}

.book-row img{
  width: 128px;
  height: 180px;
}

.book-row .column:last-child{
  width: 100%;
}

.book-row .row{
  display: flex;
  width: 100%;
  padding: 2px;
}

.book-row .row:last-child{
  padding-top: 60px;
}

.book-row .row a:first-child{
  margin-left: auto;
}


/* Create Update Book */
.create-update-book h2{
  text-align: center;
}

.create-update-book .column{
  width: 50%;
  padding: 0 5px;
}

.create-update-book form .row{
  width: 100%;
  margin: 7px;
}

.create-update-book img{
  width: 240px;
  height: 395px;
  margin: 0 auto;
}


.create-update-book input, .create-update-book textarea{
  width: 95%;
}

.create-update-book #description{
  width: 100%;
  height: 200px;
}

.create-update-book textarea{
  height: 170px;
}

.create-update-book button{
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

/* Book Info*/
.book-info{
  padding: 10px;
  display: flex;
}

.book-info img{
  width: 221px;
  height: 312px;
}

.book-info .row, .book-info p{
  margin: 12px;
}

.book-info .row h1, .book-info .row p{
  margin-left: 16px;
}

.book-info table{
  width: 80%;
}

.book-info td{
  height: 30px;
  background-color: #FFFEFC;
}

/* Copy List */
.copy-list td:last-child{
  width: 320px;
  text-align: right;
}

/* Create Update Copy */
.popup{
  z-index: 1;
  border: 2px solid #DC143C;
  background-color: #FFFEFC;
  width: 500px;
  padding: 15px;
}

.popup form{
  margin-top: 12px;
}

.popup form div:last-child{
  text-align: center;
}

.popup input{
  line-height: 46px;
  font-size: 28px;
  width: 98%;
}

#close-button{
  margin-bottom: 6px;
  background-color: #0C0908;
  border: none;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
  float: right;
}

/* Borrower List */
.borrower-list td:last-child{
  text-align: right;
}

/* Borrower Info */
.borrower-info .column{
  width: 80%;
}

.borrower-info td{
  background-color: #FFFEFC;
}

/* Loan list */
.loan-list td:last-child{
  width: 320px;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .content{
    min-height: 60vh;
    padding: 10px;
  }

  header button{
    display: flex;
  }

  header button:hover{
    background-color: #FFFEFC;
    color: #DC143C;

  }

  header ul{
    display: none;
  }

  header ul.expanded{
    display: flex;
    position: absolute;
    background-color: #DC143C;
    flex-direction: column;
    top: 80px;
    left: 0;
    width: 99.3%;
    padding-left: 5px;
    z-index: 1;
  }

  header ul li{
    margin: 12px 0;
  }

  footer{
    display: block;
    height: 350px;
    padding-top: 20px;
  }

  footer .column{
    width: 300px;
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 20px;
  }

  footer .column:first-child{
    border-right: none;
    border-bottom: 2px solid #DC143C;
  }

  footer ul{
    padding-left: 0;
  }

  footer .column:last-child{
    border-left: none;
    padding-left: 18px;
  }

  .search-bar input{
    width: 80%;
  }

  .search-bar button{
    width: 20%;
  }

  .row:first-child{
    display: block;
  }

  table{
    width: 100%;
  }

  .copy-list{
    margin: 0;
  }

  .book-info{
    display: block;
    width: 100%;
    padding-left: 12px;
  }

  .book-info .column:first-child{
    padding-left: 30px;
  }

  .book-info .row:first-child{
    display: block;
  }

  .book-info h2{
    margin-left: 16px;
  }

  .popup{
    width: 300px;
  }

  .book-row{
    width: 100%;
  }

  .book-row h1, .book-row h2, .book-row h4{
    margin-left: 10px;
  }

  .book-row .row:first-child{
    display: block;
  }

  .book-row .row:last-child{
    padding-top: 35px;
  }

  .create-update-book .column{
    width: 100%;
  }

  .create-update-book form .row:first-child{
    display: block;
  }

  .borrower-info .column{
    width: 100%;
  }


  /* Tables */
  .copy-list, .borrower-list, .loan-list,
  .copy-list thead, .borrower-list thead, .loan-list thead,
  .copy-list tbody, .borrower-list tbody, .loan-list tbody,
  .copy-list tr, .borrower-list tr, .loan-list tr,
  .copy-list td, .borrower-list td, .loan-list td{
    display: block;
  }

  .copy-list thead tr, .borrower-list thead tr, .loan-list thead tr{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .copy-list tr:nth-child(odd), .borrower-list tr:nth-child(odd), .loan-list tr:nth-child(odd){
    background-color: #DCDCDC;
  }

  .copy-list tr:nth-child(even), .borrower-list tr:nth-child(even), .loan-list tr:nth-child(even){
    background-color: #FFFEFC;
  }

  .copy-list td, .borrower-list td, .loan-list td{
    position: relative;
    padding-left: 50%;
    height: 20px;
  }

  .copy-list td:last-child, .borrower-list td:last-child, .loan-list:first-child td:last-child{
    height: 45px;
    width: auto;
    display: flex;
    text-align: right;
  }

  .copy-list button:first-child, .borrower-list button:first-child, .loan-list button:first-child{
    margin-left: auto;
  }

  .copy-list td::before, .borrower-list td::before, .loan-list td::before{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .copy-list td::before{
    font-weight: bold;
  }

  .copy-list td:nth-child(1)::before{content: "Signature";}
  .copy-list td:nth-child(2)::before{content: "Place symbol";}
  .copy-list td:nth-child(3)::before{content: "Status";}

  .borrower-list td:nth-child(1)::before{content: "Borrower ID";}
  .borrower-list td:nth-child(2)::before{content: "First Name";}
  .borrower-list td:nth-child(3)::before{content: "Last Name";}
  .borrower-list td:nth-child(4)::before{content: "Phone number";}

  .loan-list td:nth-child(1)::before{content: "Title";}
  .loan-list td:nth-child(2)::before{content: "Author";}
  .loan-list td:nth-child(3)::before{content: "Signature";}
  .loan-list td:nth-child(4)::before{content: "Date borrowed";}
  .loan-list:first-child td:nth-child(4)::before{content: "Due date";}
  .loan-list:last-child td:nth-child(4)::before{content: "Date returned";}
}