/* Global */
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFFEFC;
  color: #0C0908;
}

h1, h2, h3, h4, h5{
  margin: 0 5px;
}

h2{
  padding-top: 8px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul li a{
  color: #FFFEFC;
  line-height: 14px;
  margin: 0 12px;
}

.content{
  min-height: 65vh;
  padding: 20px;
  margin-top: 100px;
}

.content > div{
  padding: 12px;
}

.row{
  display: flex;
}

input, label, textarea, select{
  display: block;
}

textarea{
  resize: none;
}

input, textarea, select{
  line-height: 30px;
  font-size: 16px;
  border: 1px solid;
  outline-color: #0C0908;
}

select{
  height: 34px;
}

label{
  font-size: 14px;
}

input:focus, textarea:focus, select:focus{
  border: 1px solid;
  outline-color: #DC143C;
}

form{
  margin: 0 auto;
}

form div{
  margin: 7px auto;
}

form label{
  font-size: 14px;
}

br{
  clear: both;
}

img{
  border: 0.1px solid #A9A9A9;
}

/* Buttons */
button{
  margin: 2px;
  cursor: pointer;
}

.button-library{
  width: 100px;
  height: 40px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-library:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.button-edit{
  width: 40px;
  height: 40px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-edit:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

.button-delete{
  width: 40px;
  height: 40px;
  background-color: #0C0908;
  border: 2px solid #0C0908;
  color: #FFFEFC;
  text-align: center;
  font-size: 16px;
}

.button-delete:hover{
  background-color: #FFFEFC;
  color: #0C0908;
}

.button-create{
  width: 60px;
  height: 60px;
  background-color: #DC143C;
  border: 2px solid #DC143C;
  color: #FFFEFC;
  text-align: center;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;

  font-size: 36px;
  border-radius: 50%;
}

.button-create:hover{
  background-color: #FFFEFC;
  color: #DC143C;
}

/* Pagination */
.pagination-nav{
  text-align: center;
}

.pagination-nav ul{
  margin: auto;
  display: inline-flex;
  padding-left: 0;
}

.pagination-nav li{
 margin: 0 4px;
}

.pagination-nav li:hover{
  color: #DC143C;
  cursor: pointer;
  text-decoration: underline;
}

/* No data */
.no-data{
  width: 100%;
  height: 100px;
  padding: auto;
}

.no-data h1{
  text-align: center;
  margin: 31.5px auto;
}

/* Snackbar */
@keyframes appear-and-disappear {
  0% {
    bottom: -104px;
  }

  20% {
    bottom: 0;
  }

  80% {
    bottom: 0;
  }

  100% {
    bottom: -104px;
  }
}

.snackbar-success{
  width: 100%;
  height: 80px;
  background-color: #33B864;
  color: #FFFEFC;

  position: fixed;
  left: 0;
  z-index: 2;

  animation: appear-and-disappear 5s;
}

.snackbar-error{
  width: 100%;
  height: 80px;
  background-color: #DC143C;
  color: #FFFEFC;

  position: fixed;
  left: 0;
  z-index: 2;

  animation: appear-and-disappear 5s;
}

.snackbar-success p, .snackbar-error p{
  margin-top: 0;
  margin-left: 24px;
  font-size: 18px;
  font-weight: bold;
}

/* Table */
table{
  width: 100%;
  margin: 0 7px;
  border-collapse: collapse;
  table-layout: fixed;
}

table h4{
  margin-left: 4px;
}

td{
  padding: 2px;
  height: 48px;
  width: auto;
}

thead{
  background-color: #A9A9A9;
}

tbody td{
  padding-left: 6px;
}

tbody tr:nth-child(even){
  background-color: #DCDCDC;
}

/* Header */
header {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  background-color: #DC143C;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo a{
  margin-left: 12px;
  height: 50px;
  font-size: 50px;
  color: #FFFEFC;
  display: flex;
  text-decoration: none;
}

.logo div{
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  margin: 13px 2px 0;
}

header button{
  width: 40px;
  height: 40px;
  background-color: #DC143C;
  border: none;
  margin-top: 8px;
  margin-right: 12px;
  padding: 5px;
  
  color: #FFFEFC;
  font-size: 26px;
  display: none;
}

header ul{
  display: flex;
  text-transform: uppercase;
}

header ul li{
  margin: 0 12px;
}

/* Footer */
footer{
  clear: both;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #0C0908;
  display: flex;
}

footer .column{
  width: 50%;
  list-style-type: none;
  margin: 20px 0 20px;
  padding-left: 20px;
}

footer .column:first-child{
  border-right: 1px solid #DC143C;
}

footer .column:last-child{
  border-left: 1px solid #DC143C;
}

footer li{
  margin: 12px 0;
}

footer a{
  color: #FFFEFC;
}

footer ul li a:hover, footer a:hover{
  text-decoration-color: #DC143C;
}

footer .column p{
  margin: 0;
  padding-left: 17px;
  color: #FFFEFC;
}

/* Search Bar*/
.search-bar{
  display: flex;
  padding: 10px 0;
}

.search-bar:focus{
  background-color: #0C0908;
}

.search-bar input{
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  width: 90%;
  border: 2px solid #DCDCDC;
}

.search-bar button{
  border: 2px solid #DCDCDC;
  background-color: #DCDCDC;
  color: #FFFEFC;
  width: 10%;
  height: 46px;
  font-size: 30px;
  margin: 0;
}

.search-bar button:hover{
  background-color: #DC143C;
  border-color: #DC143C;
}

@media screen and (max-width: 800px) {
  .content{
    min-height: 60vh;
    padding: 10px;
  }

  header button{
    display: flex;
  }

  header button:hover{
    background-color: #FFFEFC;
    color: #DC143C;

  }

  header ul{
    display: none;
  }

  header ul.expanded{
    display: flex;
    position: absolute;
    background-color: #DC143C;
    flex-direction: column;
    top: 80px;
    left: 0;
    width: 99.3%;
    padding-left: 5px;
    z-index: 1;
  }

  header ul li{
    margin: 12px 0;
  }

  footer{
    display: block;
    height: 350px;
    padding-top: 20px;
  }

  footer .column{
    width: 300px;
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 20px;
  }

  footer .column:first-child{
    border-right: none;
    border-bottom: 2px solid #DC143C;
  }

  footer ul{
    padding-left: 0;
  }

  footer .column:last-child{
    border-left: none;
    padding-left: 18px;
  }

  .search-bar input{
    width: 80%;
  }

  .search-bar button{
    width: 20%;
  }

  .row:first-child{
    display: block;
  }

  table{
    width: 100%;
  }
}